<nav>
    <ul>
        <li> <a href="{{url_for('index')}}"<i class="fa fa-home"></i> HOME</a></i></li>
        <li> <a href="#"><i class="fa fa-shopping-cart"></i> SHOP NOW</a>
        
            <div class="sub-menu-1">
                <ul>
                    <li><a href="#">SWIMSUIT</a></li>
                    <li><a href="#">RUSH GUARD</a></li>
                    <li><a href="#">SPORTS BRA</a></li>
                    <li><a href="#">TIGHTS</a></li>
                </ul>
            </div>
        </li>
        <li> <a href="#"><i class="fa fa-users"></i> ABOUT US</a>

            <div class="sub-menu-3">
                <ul>
                    <li><a href="#">VISION</a></li>
                    <li><a href="#">MISSION</a></li>
                </ul>
            </div>
        </li>
        <li> <a href="#"><i class="fa fa-phone"></i> CONTACT</a>
        
            <div class="sub-menu-4">
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100081683234828" target="_blank"><i class="fa fa-facebook-official"></i> FACEBOOK</a></li>
                    <li><a href="mailto:blishophere@gmail.com"><i class="fa fa-envelope"></i> EMAIL</a></li>
                    <li><a href="https://www.instagram.com/blishop_found/" target="_blank"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                    <li><a href="https://twitter.com/blis_shop" target="_blank"><i class="fa fa-twitter"></i> TWITTER</a></li>
                </ul>
            </div>
        </li>
        <li> <a href="#"><i class="fa fa-user"></i> LOG IN</a>
        
            <div class="sub-menu-2">
                <ul>
                    <li><a href="{{url_for('login')}}"><i class="fa fa-sign-in"></i>LOG IN</a></li>
                    <li><a href="{{url_for('register')}}"><i class="fa fa-user-plus"></i>SIGN UP</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>